/*
 * Application CSS
 *
 */

body {
    font-family: 'Oxygen', sans-serif; }
a {
    outline: none; }

/* General Purpose
 */
.bold {
    font-weight: bold; }
.button {
    display: inline-block; padding: 6px 12px; font-weight: bold; 
    background: #bbb; color: #666; box-shadow: 0 2px 0 #888; }
    .button.blue {
        color: #fff; background: #3D85C6; box-shadow: 0 2px 0 #1C578C;}
    .button.blue:hover {
        background: #2E72AD; box-shadow: 0 2px 0 #104370; }
    .button.green {
        color: #fff; background: #2A9C68; box-shadow: 0 2px 0 #146840; }
    .button.green:hover {
        background: #1E8454; box-shadow: 0 2px 0 #0E5432; }
.callout {
    position: absolute; border-radius: 24px; padding: 6px 16px; font-size: 20px;
    color: #fff; background: #990D20; top: -20px; left: -20px; line-height: 28px; }
.callout.right {
    right: -20px; left: auto; }
.centered {
    text-align: center; }
.float-left {
    float: left; }
.float-right {
    float: right; }
.no-underline {
    text-decoration: none; }
.relative {
    position: relative; }
.round-2 {
    border-radius: 2px; }
.round-3 {
    border-radius: 3px; }
.round-4 {
    border-radius: 4px; }
.round-5 {
    border-radius: 5px; }
.round-bl-4 {
    -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; 
    border-bottom-left-radius: 4px; }
.round-br-4 {
    -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; 
    border-bottom-right-radius: 4px; }
.round-tl-4 {
    -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; 
    border-top-left-radius: 4px; }
.round-tr-4 {
    -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; 
    border-top-right-radius: 4px; }
.underline {
    text-decoration: underline; }

/* Headers
 */
h1 {
    padding: 15px 0; background: #EFE5E1; color: #777; font-size: 1.8em;
    margin: 0 0 30px; font-weight: normal; border-top: 1px solid #e9e9e9;
    font-family: 'Cabin Condensed', sans-serif; }
    
    h1 div {
        width: 980px; margin: 0 auto; }

/* Tables
 */
table {
    width: 100%; }

    table th {
        background-color: #ddd; color: #666; font-weight: bold; font-size: 1em;
        padding: 5px 10px; border-left: 1px solid #fff; 
        border-bottom: 1px solid #ccc;}
    table td {
        border-left: 1px solid #ddd; padding: 5px 10px; }
    table tr td:first-child {
        border-left-color: #fff; }
    table tr:last-child td {
        border-bottom: 1px solid #ddd; }
    table tr.alt td {
        background-color: #eee; }

/* Header
 */
header {
    height: 450px; border-bottom: 1px solid #bbb; padding-top: 50px;
    background: url( '../images/hanging_plants_narrow.jpeg' ) top left no-repeat; }

/* Navigation
 */
nav {
    padding: 8px 0; text-align: center; background: #191919; color: #666;
    border-bottom: 1px solid #000; box-shadow: 0 2px 5px #000; 
    position: fixed; width: 100%; z-index: 1; height: 32px; top: 0; }
    
    nav a {
        display: inline-block; color: #999; margin: 0 25px; line-height: 1.4em;
        background: #292929; padding: 5px 20px 6px; text-decoration: none; }
    nav a:hover {
        background: #393939; color: #aaa; }
    nav a.green {
        color: #fff; background: #2A9C68; }
    nav a.green:hover {
        background: #1E8454; }

/* Banner
 */
#banner {
    width: 980px; margin: 0 auto; height: 450px; }

#video {
    height: 390px; color: #292929; width: 60%; padding: 30px 0; float: left;
    text-align: center; line-height: 450px; }

    #video i {
        font-size: 8em; }
    #video #embed {
        background: #000; width: 100%; height: 100%; }

#cta {
    width: 36%; float: right; height: 100%; background: rgba( 0, 0, 0, 0.8 );
    color: #fff; text-align: center;
    font-family: 'Just Me Again Down Here', cursive; }

    #cta .wrapper {
        padding: 30px 10px; }
    #cta .support {
        font-size: 3em; line-height: 1em; margin-bottom: 5px; } 
    #cta .the-barn {
        font-size: 8em; line-height: 66%; }
    #cta .buttons {
        padding: 40px 0 0; }
    #cta .button {
        font-size: 1.5em; font-family: 'Oxygen', sans-serif; padding: 8px 20px; }
    #cta .button.green {
        margin-bottom: 15px; }

/* Sections 
 */
section .wrap {
    width: 980px; margin: 0 auto; }

section .two-cols {
    line-height: 1.8em; margin-bottom: 60px; font-size: 1.0em; }
section .two-cols .col-one {
    width: 46%; padding-right: 4%; float: left; }
section .two-cols .col-two {
    width: 46%; padding-left: 4%; float: right; }

section .question {
    font-size: 1.25em; margin-bottom: 10px; }
section img.caption-right {
    margin: 0 0 10px 10px; width: 30%; }
section p {
    padding: 0; margin: 0 0 20px 0; }

div.caption {
    padding: 10px; color: #777; font-style: italic; font-size: 0.9em; }

/* Prizes
 */
#prizes {
    margin-bottom: 60px; width: 980px; margin: 0 auto 60px ; }

    .prize {
        position: relative; width: 239px; margin: 0 8px 8px 0; float: left; }
    .prize.no-pad {
        margin: 0 0 8px 0; }
    .prize .img-caption {
        position: absolute; bottom: 0; background: rgba( 0, 0, 0, 0.8 );
        color: #fff; padding: 6px 10px; }
    .prize .price {
        position: absolute; top: 0; right: 0; background: rgba( 0, 0, 0, 0.8 );
        padding: 4px 8px; font-size: 0.9em; color: #fff; }
    .prize .price i {
        margin-left: 3px; color: #ccc; font-size: 0.9em; }

/* Final CTA
 */
#final-cta {
    margin-bottom: 80px; text-align: center; }

    #final-cta a {
        padding: 8px 20px; font-size: 1.5em; margin: 0 8px; }

/* Footer
 */
footer {
    padding: 20px 0 40px; background: #191919; color: #666; }

    footer .wrap {
        width: 980px; margin: 0 auto; }
    footer a {
        color: #999; }